.selector-button {
    background-color: white;
}

.selector-button:hover {
    color: white;
    background-color: black;
}

.selector-button:focus {
    color: white;
    background-color: gray;
}

.apply-button {
    color: white;
    background-color: rgba(163, 28, 28, 0.89);
}

.apply-button:hover {
    color: white;
    background-color: rgba(11, 11, 107, 0.822);
}